*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body{
    font-family: 'Joan', serif;
}

 .site-title, h2{
    font-family: 'Dosis', sans-serif !important;
}



/* NAV */


.navbar{
    background-color: white !important;
   
}

.navbar-brand img{
    width: 50px;
}

.navbar-toggler,
.navbar-nav .nav-link.active,
.nav-item a {
    color: red;
}



.nav-item .nav-link:hover{
    color: #f08c00;
}





 /*BANNER AREA  */



.site-banner .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
    background: linear-gradient(to right, #ffffff 0%, #ff5050 86%);
        
}
.site-title .text-title{
   font-size: 33px;
}


.surname{
    font-size: 35px;
    background-color: #ffec99;
    width: fit-content;
}

.site-banner .row img{
    padding-bottom:40px;
    
}







   /* SECTION WELCOME */

   .welcome .row{
    font-size: 25px;
    padding-top: 15px;
    font-family: 'Joan', serif;
   }
 
   


    /*SECTION ABOUT ME  */

    .about-me .row{
        margin-top: 1rem;
        padding-top: 10px;
        padding-top: 2rem;
    }
    .about-me h2{
       margin-top: 6rem;
        text-align: center;
        
    }

    .about-me  .description p {
        max-width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }


   
   
   
   
   
    /* SECTION  PROCESS */


    .process-title {
        text-align: center;
        font-family: 'Acme', sans-serif;
    }

    .process .row-title h2{
        margin-top: 6rem;
    }
   
     
    .process .row {
        margin: 0 auto;
        padding-top: 50px;
    }

    .process .row .experience{
        padding-left: 65px;
    }

    .process .row .skills{
        text-align: center;
    }

    .process .row h4 {
        padding-top: 30px;
        font-size: 27px ;
    }

    .process .row p {
        margin-top: 5px;
        font-size: 16px;
    }

    .process .row .experience{
       border-radius: 2%;
       border: 1px solid gold;
       /* background-color: #ffec99; */
    }

  

    .fa-html5{
        color:#e54d26 ;
    }
   
   
    
    
    .fa-css3-alt{
        color: #2163af;
    }
    .fa-bootstrap {
        color: #563d7c;
    }
    
    .fa-html5, .fa-css3-alt, .fa-bootstrap {
        font-size: 2rem;
        margin: 1rem
    }
  

  
  
    
    
 /* FOOTER */


 footer{
    height: 300px;
    padding-top: 3rem;
    margin-top: 6rem;
    text-align: center;
    background-color: #fff5f5 ;
    


}

footer .contact{
    font-size: 16px;
    margin-bottom: 6px;
    
}
 
footer .contact a{
    text-decoration: none;
    color: #171515;
}

footer .contact a:hover{
    color: #e03131;
}

footer .contact a::after{
    content:"" ;
    color: #f59f00;
}


.mention {
    font-size: 1rem;
    margin-top: 5px;
}
.programmer{
    margin-top: .8rem;
}

.social a{
    text-decoration: none;
    font-size: 3rem;
    margin:1rem;
    margin-top: 10px;
}

.fa-instagram{
    color:#517fa4 ;
}


.fa-linkedin{
    color: #007bb6;
}


.fa-github{
    color:#171515;
}

.fa-github:hover{
    color: #9c36b5;
}

.fa-instagram:hover{
    color: #bc2a8d;
}

.fa-linkedin:hover{
    color: #4dabf7;
}













/* SCROLLBAR */


::-webkit-scrollbar{
    width: 0.4em;
    height:0.4em;
    background: #eaeaea;
     margin-right: 10px;
}

::-webkit-scrollbar-thumb{
    min-height:0.4em;
    min-width:0.4em;
    border-radius:3px;
    background-color: #f59f00;
     border: none;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #e03131;
    border: none;
}

::-webkit-scrollbar-thumb:active{
    background-color:#e03131;
    border: none;
}

    /*MEDIA QUERY  */

@media  screen and (min-width: 768px)  {
    .head-banner{
        padding-top: 7rem;
        padding-bottom: 7rem;

    }
}
